<div>
  <h1>Todo List</h1>
  <input 
    type="text" 
    class="input-text" 
    placeholder="Add Todo "
    [(ngModel)]="todoValue"
    (keyup.enter)="addItem()"
  />
  <button class="add-btn" (click)="addItem()">Add Todo</button>
</div>
<div  class="list">
  <ul class="li">
    <li *ngFor="let item of list">
      <input 
        type="checkbox" 
        class="input-list" 
        name="isDone" 
        [(ngModel)]="item.isDone"
      />
      {{item.value}}
      <button class="btn-delete" (click)="delItem(item.id)">Delete</button>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
